{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <link type="text/css" rel="stylesheet" href="{% static 'materialize.min.css' %}" media="screen, projection"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles</title>
</head>
<body>
    <div class = "container">

        
        <h1>{{  question.question_text }}</h1>
        <ul>
            {% for choice in question.choice_set.all %}
                <li>
                    {{ choice.choice_text }} -- {{ choice.votes }} vote{{ choice.votes|pluralize }}
                </li>
            {% endfor %}

        </ul>
        <a  href="{% url 'polls:results' question.id %}" class="waves-effect waves-light btn">Quieres votar de nuevo?</a>
        
        
       
            
        </div>
  
    </div>
    <script type="text/javascript" src="{% static 'jquery-2.2.2.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'materialize.min.js' %}"></script>
    <script> M.toast({html: 'Gracias Por Votar', classes: 'light-blue darken-4'});</script>
</body>
</html>